.App {
  text-align: center;
  margin: 20px;
  border: 1px solid grey;
  padding: 20px;
  background-color: #eee4e1;
}

.App h1{
  color: #5e503f;
}

.App button{
  width: 130px;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #d5bdaf;
  margin: 0 5px;
}

.App input{
  width: 200px;
  height: 30px;
  border: 1px solid #5e503f;
}

.App select{
  width: 150px;
  height: 25px;
  font-weight: 600;
}